table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #e3dede;
}
tr:hover{
background:black;
color:white;
}
